{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to Flask Ledger!</h1>
    {% if not accounts %}
        <p>No Accounts Yet</p>
    {% else %}
        {% for account in accounts %}
            <br><h3>{{ account.name }}: ${{ account.balance }}</h3>
            <h4>Entries</h4>
            {% if account.entries %}
                {% for entry in account.entries %}
                    {{ entry.descrip }}
                    {{ entry.date }}             
                    {{ entry.tranact_type }}
                    ${{ entry.amount }}<br>
                {% endfor %}
            {% else %}
                <p>No Entries for this account yet.</p>
            {% endif %}
            <h4>Sent Transfers</h4>
            {% if account.from_accnts %}
                {% for transfer in account.from_accnts %}
                    {{ transfer.descrip }}
                    {{ transfer.date }}
                    {{ transfer.to_accnt.name }}
                    ${{ transfer.amount }}<br>
                {% endfor %}
            {% else %}
                <p>No Transfers from this account yet.</p>
            {% endif %}
            <h4>Received Transfers</h4>
            {% if account.to_accnts %}
                {% for transfer in account.to_accnts %}
                    {{ transfer.descrip }}
                    {{ transfer.date }}
                    {{ transfer.from_accnt.name }}
                    ${{ transfer.amount }}<br>
                {% endfor %}
            {% else %}
                <p>No Transfers received for this account yet.</p>
            {% endif %}
        {% endfor %}       
    {% endif %}
{% endblock %}

