{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to Flask Ledger!</h1>
    {% if not accounts %}
        <p>No Accounts Yet</p>
    {% else %}
        {% for account in accounts %}
            <h3>{{ account.name }}: ${{ account.balance }}</h3>
            {% if account.entries %}
                {% for entry in account.entries %}
                    {{ entry.descrip }}
                    {{ entry.date }}                 
                    {{ entry.tranact_type }}
                    ${{ entry.amount }}
                {% endfor %}
            {% else %}
                <p>No Entries for this account yet.</p>
            {% endif %}
        {% endfor %}       
    {% endif %}
{% endblock %}

